Repository jian01/GiaNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, darglint, black

pylint:
  name: pylint
  entry: pylint gianlp
  language: system
  args:
  - --rcfile=.pylintrc
  - --fail-under=9

darglint:
  name: darglint
  entry: darglint -v 2 gianlp
  language: system

black:
  name: black
  entry: black --line-length 120
  language: system

Fix tests
  .github/workflows/tests.yml
Due: none

Tests fix
  .github/workflows/tests.yml
Due: none

Debug
  .github/workflows/tests.yml
Due: none

Fix tests
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
Due: none

Debug
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
Due: none

Fix noxfile
  .github/workflows/tests.yml
  noxfile.py
Due: pylint, darglint

Change test matrix
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
  noxfile.py
Due: pylint, darglint

Change test matrix
  .github/workflows/tests.yml
  noxfile.py
Due: pylint, darglint

Update documentation refs/tags/v0.0.1
  _autosummary/gianlp.models.trainable_model.TrainableModel.html
  index.html
  searchindex.js
Due: none

Dockerized tests initial commit
  .ci/docker-compose.yml
  .ci/nox_tests
  .dockerignore
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
  .gitignore
  noxfile.py
Due: pylint, darglint

Fixed tests for tensorflow 2.6 & 2.8
  noxfile.py
Due: pylint, darglint

Fix version issues
  noxfile.py
Due: pylint, darglint

Dockerized tests initial commit (#11)
  .ci/docker-compose.yml
  .ci/nox_tests
  .dockerignore
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
  .gitignore
  noxfile.py
Due: pylint, darglint

Hotfix coverage
  .dockerignore
Due: none

Multi-text build + Refactor
  gianlp/keras_layers/masked_embedding.py
  gianlp/models/_report_utils.py
  gianlp/models/base_model.py
  gianlp/models/keras_wrapper.py
  gianlp/models/rnn_digest.py
  gianlp/models/text_representations/char_embedding_sequence.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/mapping_embedding.py
  gianlp/models/text_representations/per_chunk_sequencer.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
  gianlp/models/trainable_model.py
  gianlp/types/__init__.py
  tests/test_keras_wrapper_multi_text.py
Due: pylint, darglint, black

Fix CI
  gianlp/__init__.py
  noxfile.py
Due: pylint, darglint, black

Refactor serialization
  gianlp/config.py
  gianlp/models/text_representations/char_embedding_sequence.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
Due: pylint, darglint, black

Parallel tokenization for building
  gianlp/config.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
Due: pylint, darglint, black

Max length preprocessing for building + Tensorflow reproducibility on tests
  gianlp/config.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
  setup.py
  tests/__init__.py
  tests/test_char_embedding_sequence.py
  tests/test_char_per_word_sequence.py
  tests/test_complex_model_buildings.py
  tests/test_keras_wrapper.py
  tests/test_keras_wrapper_exceptions.py
  tests/test_keras_wrapper_multi_text.py
  tests/test_multiple_outputs.py
  tests/test_multiprocessing.py
  tests/test_per_chunk_sequencer.py
  tests/test_rnn_digest.py
  tests/utils.py
Due: pylint, darglint, black

Fixed tensorflow reproducibility
  setup.py
  tests/utils.py
Due: pylint, darglint, black

Fix docs build
  .github/workflows/docs.yml
  noxfile.py
Due: pylint, darglint

Fixed old tensorflow tests
  setup.py
  tests/test_keras_wrapper_multi_text.py
Due: pylint, darglint, black

Feature/maxlength build (#16)
  .github/workflows/docs.yml
  gianlp/config.py
  gianlp/models/text_representations/char_embedding_sequence.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
  noxfile.py
  setup.py
  tests/__init__.py
  tests/test_char_embedding_sequence.py
  tests/test_char_per_word_sequence.py
  tests/test_complex_model_buildings.py
  tests/test_keras_wrapper.py
  tests/test_keras_wrapper_exceptions.py
  tests/test_keras_wrapper_multi_text.py
  tests/test_multiple_outputs.py
  tests/test_multiprocessing.py
  tests/test_per_chunk_sequencer.py
  tests/test_rnn_digest.py
  tests/utils.py
Due: pylint, darglint, black

Refactor + Limitations on building removed
  gianlp/models/__init__.py
  gianlp/models/text_representations/fasttext_word_embedding_sequence.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
  tests/test_fasttext_word_embedding_sequence.py
Due: pylint, darglint, black

Fix
  md_templates/README.md
Due: none

Fix
  README.md
Due: none

More testing
  gianlp/models/text_representations/fasttext_ngram_embedding_sequence.py
  gianlp/models/text_representations/fasttext_word_embedding_sequence.py
  tests/test_fasttext_ngram_embedding_sequence.py
  tests/test_fasttext_word_embedding_sequence.py
Due: pylint, darglint, black

Documentation update
  docs/library_usage.md
Due: none

Fixed type conflict with tensorflow <2.6
  gianlp/models/base_model.py
  gianlp/types/__init__.py
Due: pylint, darglint, black

Update __init__.py
  gianlp/__init__.py
Due: pylint, darglint, black

Update tests
  .ci/docker-compose.yml
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
  noxfile.py
Due: pylint, darglint

Fix
  .ci/docker-compose.yml
Due: none

Fix
  .ci/docker-compose.yml
  .github/workflows/tests.yml
Due: none

Version 0.0.2 (#15)
  .ci/docker-compose.yml
  .github/workflows/docs.yml
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
  gianlp/__init__.py
  gianlp/config.py
  gianlp/keras_layers/masked_embedding.py
  gianlp/models/_report_utils.py
  gianlp/models/base_model.py
  gianlp/models/keras_wrapper.py
  gianlp/models/rnn_digest.py
  gianlp/models/text_representations/char_embedding_sequence.py
  gianlp/models/text_representations/fasttext_embedding_sequence.py
  gianlp/models/text_representations/mapping_embedding.py
  gianlp/models/text_representations/per_chunk_sequencer.py
  gianlp/models/text_representations/pre_trained_word_embedding_sequence.py
  gianlp/models/text_representations/text_representation.py
  gianlp/models/text_representations/trainable_word_embedding_sequence.py
  gianlp/models/trainable_model.py
  gianlp/types/__init__.py
  noxfile.py
  setup.py
  tests/__init__.py
  tests/test_char_embedding_sequence.py
  tests/test_char_per_word_sequence.py
  tests/test_complex_model_buildings.py
  tests/test_keras_wrapper.py
  tests/test_keras_wrapper_exceptions.py
  tests/test_keras_wrapper_multi_text.py
  tests/test_multiple_outputs.py
  tests/test_multiprocessing.py
  tests/test_per_chunk_sequencer.py
  tests/test_rnn_digest.py
  tests/utils.py
Due: pylint, darglint, black

Path conditions:
  pylint: any of: \.py$, but not: docs/*
  darglint: any of: \.py$, but not: (docs|tests)/*
  black: any of: (gianlp|tests)/* and \.py$
