Repository jian01/GiaNLP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, darglint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint gianlp
        language: system
        types: [python]
        args:
          [
            "--rcfile=.pylintrc",
            "--fail-under=9"
          ]
        exclude: docs/*
      - id: darglint
        name: darglint
        entry: darglint -v 2 gianlp
        language: system
        types: [python]
        exclude: (docs|tests)/*
      - id: black
        name: black
        entry: black --line-length 120
        language: system
        types: [python]
        files: (gianlp|tests)/*

Fix gitignore issue
  .gitignore
  gianlp/models/trainable_model.py
  gianlp/types/__init__.py
Due: pylint, darglint, black

Workflow dispatch event added to tests
  .github/workflows/test_all_versions.yml
  .github/workflows/tests.yml
Due: none

Workflow dispatch event added to tests
  .github/workflows/tests.yml
Due: none

Refactor model outputs
  .coveragerc
  .github/workflows/tests.yml
  .mypy.ini
  .pre-commit-config.yaml
  gianlp/models/_health_utils.py
  gianlp/models/_report_utils.py
  gianlp/models/rnn_digest.py
  gianlp/models/trainable_model.py
  gianlp/types/__init__.py
  tests/test_model_outputs_wrapper.py
  tests/test_multiple_outputs.py
  tests/test_multiprocessing.py
  tests/test_text_input_wrapper.py
Due: pylint, darglint, black

Codecov config
  .codecov
Due: none

Docs update
  docs/conf.py
  docs/index.rst
Due: none

Kwargs in fit
  gianlp/models/trainable_model.py
Due: pylint, darglint, black

Fix docs action
  .github/workflows/docs.yml
  .github/workflows/linter.yml
Due: none

Deploy to test pypi
  .github/workflows/deploy.yml
  docs/conf.py
Due: none

Fix test deploy
  .github/workflows/deploy.yml
  setup.py
Due: pylint, darglint

Fix github pages
  .github/workflows/deploy.yml
  requirements.txt
Due: none

Fix github pages
  .github/workflows/deploy.yml
Due: none

Requirements for sphinx
  .github/workflows/deploy.yml
  docs/requirements.txt
  noxfile.py
  requirements.txt
Due: pylint, darglint

Project site and description
  setup.py
Due: pylint, darglint

Fix github pages
  .github/workflows/deploy.yml
  setup.py
Due: pylint, darglint

Fix package description error
  setup.py
Due: pylint, darglint

Fix setup description
  setup.py
Due: pylint, darglint

Fix requirements
  docs/requirements.txt
Due: none

.nojekyll file
  .nojekyll
Due: none

Fix test pipeline
  noxfile.py
Due: pylint, darglint

Setup dynamic versioning
  setup.py
Due: pylint, darglint

Fix dynamic versioning
  setup.py
Due: pylint, darglint

Fix typo
  README.md
  md_templates/README.md
Due: none

Update documentation refs/heads/initial_setup
  index.html
Due: none

Fix typo
  md_templates/README.md
Due: none

Ready to deploy
  .github/workflows/deploy.yml
  gianlp/models/_health_utils.py
  gianlp/models/base_model.py
Due: pylint, darglint, black

Fix docs
  .github/workflows/deploy.yml
  docs/requirements.txt
  requirements.txt
Due: none

Update documentation refs/heads/initial_setup
  1_quickstart.html
  2_drug_rating_regressor.html
  3_siamese_semantic_similarity.html
  4_ner_tagger.html
  _autosummary/gianlp.keras_layers.html
  _autosummary/gianlp.keras_layers.masked_embedding.MaskedEmbedding.html
  _autosummary/gianlp.keras_layers.masked_embedding.html
  _sources/_autosummary/gianlp.keras_layers.masked_embedding.MaskedEmbedding.rst.txt
  _sources/_autosummary/gianlp.keras_layers.masked_embedding.rst.txt
  _sources/_autosummary/gianlp.keras_layers.rst.txt
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/language_data.js
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  genindex.html
  index.html
  library_usage.html
  modules.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
Due: none

Fix autosummary import errors
  docs/requirements.txt
Due: none

Deploy workflow for production
  .github/workflows/deploy.yml
Due: none

Fix worflows
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
Due: none

Bugs in old tensorflow versions
  README.md
  gianlp/__init__.py
  gianlp/models/keras_wrapper.py
  gianlp/models/trainable_model.py
  md_templates/README.md
  noxfile.py
  setup.py
  tests/test_complex_model_buildings.py
  tests/test_keras_wrapper_multi_text.py
  tests/test_multiprocessing.py
Due: pylint, darglint, black

Tests fix
  .github/workflows/tests.yml
Due: none

Fix tests
  .github/workflows/tests.yml
Due: none
